{% extends 'base.html' %}
{% block content %}
<style>
    #body{
        background:skyblue;
    }
    li,span{
        font-size: large;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: snow;

    }
    #buttons{
        margin-left: 30%;
    }

</style>
<div class="mt-5 align-middle">
    <h1 class="text-center" >User Manager</h1>
    <h3 class="text-center">A visual tool for managing user data</h3>

    <ul class="list-group text-center text-light text-size-5">
        <h3 class=" text-success">Freatures</h3>
        <li class="text-center">Register User</li>
        <li class="text-center">Log in </li>
        <li class="text-center">Edit user data</li>
        <li class="text-center">Delete User</li>
    </ul>
<div class="mt-5 mr-5 align-middle"id="buttons">    
<span>Don't have an account? <span><a class="btn btn-success" href="/signup" >Register</a>
<span>Already have an account?</span><a class="btn btn-success" href="/login" >Log in</a>
</div>
</div>
{% endblock content %}